%article#admin
  %header
    %h1 Editing Page:
  
  = render 'form'

  %footer
    .links
      = link_to 'Show', @page, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
      = link_to 'Back', pages_path, data: { confirm: 'Are you sure? Any unsaved changes will be lost.' }
