/* Brand Colors */
$yellow:                         #f0c45d;
$teal:                           #9fc5c4;
$dark-grey:                      #8a857f;
$grey:                           #b9b4af;
$light-grey:                     #d1ccc6;

/* Site Colors */
$textLink:                       $teal;
$textLinkRollover:               $yellow;

$navBackground:                  #fff;
$navBackgroundRollover:          $teal;
$navTextColor:                   $dark-grey;
$navTextColorRollover:           #fff;

$subNavBackground:               $light-grey;
$subNavBackgroundRollover:       $teal;
$subNavTextColor:                $dark-grey;
$subNavTextColorRollover:        #fff;

$tertiaryNavBackground:          $dark-grey;
$tertiaryNavBackgroundRollover:  $teal;
$tertiaryNavTextColor:           $grey;
$tertiaryNavTextColorRollover:   #fff;

$separatorColor:                 $grey;


$lightOdd:                       rgba(159, 197, 196, .2);   //#cfe2e1 || 50% of #9fc5c4 - Teal
$lightEven:                      rgba(240, 196, 93, .1);  //#f7e1ae || 50% of #f0c45d - Yellow
//$lightEven:                      rgba(138, 133, 127, .05);   // || 50% of #8a857f - Dark Grey


$headerBackground:               $teal;

$h1Color:                        $dark-grey;
$h2Color:                        $dark-grey;
$h3Color:                        $dark-grey;
$textColor:                      $grey;
$highlight:                      $teal;


$subHeaderColor:                 $dark-grey;
$contentHeaderColor:             $dark-grey;
$headerSpanColor:                $light-grey;

$footerBackground:               $teal;
$footerTextColor:                #fff;


$CTABackground:                  $light-grey;

$listLinkBackground:             $grey;
$infoSubHeadColor:               $grey;
$leadFormBackground:             $grey;

/*$tabBackground:                  $light-grey;
$subTabBackground:               $dark-grey;
$subTabRolloverBG:               $grey;*/

$gradient-top:                   rgba(159, 197, 196, 1);
$gradient-bottom:                rgba(159, 197, 196, .5);

// Admin Styles
$adminNavBackground:             #fff;
$adminNavBackgroundRollover:     $teal;
$adminNavTextColor:              $dark-grey;
$adminNavTextColorRollover:      #fff;

$adminNavBackground:             rgba(159, 197, 196, .9); //#a8cbca || 90% #9fc5c4 - Teal
$adminTableBorderColor:          rgba(159, 197, 196, .9); //#a8cbca || 90% #9fc5c4 - Teal

$adminLabelColor:                $dark-grey;
$removeFieldsLink:               $dark-grey;


/* Font Controls */
$DroidSerifRegular:              'DroidSerif-Regular',              "Palatino Linotype",  Palatino, "Book Antiqua", serif;
$DroidSerifBold:                 'DroidSerif-Bold',                 "Palatino Linotype",  Palatino, "Book Antiqua", serif;
$DroidSerifItalic:               'DroidSerif-Italic',               "Palatino Linotype",  Palatino, "Book Antiqua", serif;
$DroidSerifBoldItalic:           'DroidSerif-BoldItalic',           "Palatino Linotype",  Palatino, "Book Antiqua", serif;

$QuatroncentoSansRegular:        'QuatroncentoSans-Regular',        'Geneva',  sans-serif !important;
$QuatroncentoSansBold:           'QuatroncentoSans-Bold',           'Geneva',  sans-serif !important;
$QuatroncentoSansItalic:         'QuatroncentoSans-Italic',         'Geneva',  sans-serif !important;
$QuatroncentoSansBoldItalic:     'QuatroncentoSans-BoldItalic',     'Geneva',  sans-serif !important;

$sans-serif:                     'Verdana',                     'Geneva',  sans-serif !important;
$serif:                          "Palatino Linotype",            Palatino, "Book Antiqua", serif; 

$defaultFontSize:                 12px;

/* Images */
@mixin hint {
  background-color: #fff;
  border-color: #6d6e71;
  border-style: solid;
  border-width: 1px;
  padding: 1px;
}


/* ---BUTTONS--- */

// Layout Buttons
@mixin button {
  background-color: $highlight;
  border-color: $highlight;
  border-width: 1px;
  border-style: solid;
  border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $sans-serif;
  font-size: 21px;
  font-weight: normal;
  margin: 3px 2px 3px 0;

  a:link, a:visited {
    color: #fff;
    padding: 8px 8px 6px 8px;
  }

  a:hover {
    color: #fff !important;
    text-decoration: none;
  }
}

@mixin big-button {
  @include button;

  background-color: #2b3990;
  border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
  font-family: $sans-serif;
  font-size: 16px;
  //max-width: 220px;
  text-align: left;
  text-transform: uppercase;


  a {
    span {
      color: #8dc63f;
    }
  }
}

@mixin mini-button {
  @include button;

  font-size: 12px !important;
  margin: 3px 2px;

  a:link, a:visited {
    padding: 5px 5px 4px 5px;
  }
}

// Admin Buttons
@mixin admin-button {
  border-color: $gradient-top !important;
  border-style: solid !important;
  border-width: 1px !important;

  background: $lightEven; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2QzZGZkMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMyMzYwMTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  $gradient-top 0%, $gradient-bottom 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $gradient-top), color-stop(100%, $gradient-bottom)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  $gradient-top 0%, $gradient-bottom 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  $gradient-top 0%, $gradient-bottom 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  $gradient-top 0%, $gradient-bottom 100%); /* IE10+ */
  background: linear-gradient(to bottom,  $gradient-top 0%, $gradient-bottom 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$gradient-top', endColorstr='$gradient-bottom',GradientType=0 ); /* IE6-8 */

  border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  color: #fff !important;
  cursor: pointer;
  font-family: $sans-serif;
  font-weight: bold;
  line-height: 12px;
  padding: 9px 25px;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;

  a {
    color: #fff !important;
    text-decoration: none !important;
  }

  &:hover {
    text-decoration: none;
  }
}

@mixin mini-admin-button {
  @include admin-button;
  display: inline-block;
  font-size: 9px !important;
  padding: 4px 8px 5px 8px;
  margin: 3px 2px;
}

@mixin admin-submit-button {
  background-color: #fff;
  border-color: $adminTableBorderColor;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
  clear: both;
  color: $gradient-top;
  font-family: $sans-serif;
  font-size: 11px;
  margin: 10px;
  margin-top: 17px;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}