.page#home
  %article
    #main-gallery.gallery.slide
      / = @page.inspect
      / = image_tag @page.figures.first.images.first.asset_url.to_s
      
      Gallery Markers
      %ol.gallery-indicators
        - @page.galleries[0].figures.each_with_index do |figure, index|
          %li{class: ("active" if index == 0), "data-slide-to" => index, "data-target" => "#main-gallery"}

      Gallery Items
      .gallery-inner
        - @page.galleries[0].figures.each_with_index do |figure, index|
          .item{class: ("active" if index == 0)}
            = link_to figure.link do
              = cl_image_tag(figure.images.first.asset.filename.to_s, alt: figure.images.first.asset.filename.to_s)

      Gallery Nav
      %a.gallery-control.left{"data-slide" => "prev", :href => "#main-gallery"} ‹
      %a.gallery-control.right{"data-slide" => "next", :href => "#main-gallery"} ›
    
    %aside
      %ul
        - @page.figures.each do |figure|
          %li
            = link_to figure.link do
              = image_tag figure.images.first.asset_url.to_s