.art-lab-logo {
  letter-spacing: 5px;
}

#messages,
#container {
  margin: auto;
  width: 1020px;
}

#container {
  > header, > footer {
    display: flex;
    justify-content: space-between;

    padding: 20px 40px;

    nav {
      margin: auto 0;

      ul {
        li {
          display: inline-block;
        }
      }
    }
  }

  > header {
    .logo {
      svg.interia-logo {
        height: 64px;
        width: 221px;
      }
    }

    nav {
      ul {
        li {
          font-family: $QuatroncentoSansRegular;
          font-size: 18px;
          margin-left: 25px;

          a:link, a:visited {
            color: $navTextColor;
            display: block;
            padding: 8px 5px 6px 5px;
          }

          a:hover {
            text-decoration: none;
          }

          ul {
            display: none;
            position: absolute;
            z-index: 2;

            li {
              display: block;
              margin: 0px;

              a:link, a:visited {
                background-color: $subNavBackground;
                border-color: $separatorColor;
                border-style: solid;
                border-width: 1px 0 0 0;
                color: $subNavTextColor;
                white-space: nowrap;
                width: auto;
                min-width: 120px;
              }

              ul {
                display: none;

                li {
                  /*a:link, a:visited {
                    background-color: $tertiaryNavBackground;
                    color: $tertiaryNavTextColor;
                  }*/
                }
              }
            }
          }
        }

        li:hover {
          a {
            background-color: $navBackgroundRollover;
            color: $navTextColorRollover;
          }

          ul {
            display: block;

            li {
              ul {
                display: none;
                left: 100%;
                margin-top: -33px;
                position: absolute;
                z-index: 3;

                li {
                  
                }
              }
            }

            li:hover {
              a {
                color: $navTextColorRollover;
                background-color: $navBackgroundRollover;
              }

              ul {
                display: block;

                li {
                  a {
                    background-color: $tertiaryNavBackground;
                    color: $tertiaryNavTextColor;
                  }
                }

                li:hover {
                  a {
                    color: $navTextColorRollover;
                    background-color: $navBackgroundRollover;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  #content {
    article.page {
      header {
        h1 {
          font-size: 36px;
          text-align: center;
        }

        h1:before,
        h1:after {
          color: $highlight;
          content: "\2022"
        }
      }

      section.page-content {

      }

      aside {

      }
    }
  }

  > footer {
    background-color: $footerBackground;
    color: $footerTextColor;
    display: flex;
    font-family: $QuatroncentoSansRegular;
    justify-content: space-between;

    .logo {
      svg.interia-logo {
        height: 53px;
        width: 182px;

        path,
        rect,
        polygon, {
          fill: #fff;
        }
      }
    }

    #doc-info {
      align-self: center;

      address {
        margin-bottom: 5px;
      }

      .copyright {

      }
    }

    nav {
      ul {
        li {
          a {
            padding: 0 11px 0 7px;
            text-decoration: underline;
          }
        }

        li:after {
          content: "/";
        }

        li:last-child {
          a {
            padding-right: 0px;
          }
        }

        li:last-child:after {
          content: "";
        }
      }
    }

    a:link, a:visited {
      color: $footerTextColor;
    }
  }
}